
:root {
    --color-black: #000000;
    --color-white: rgb(255, 255, 255);
    --color-beige: beige;
}



body{
    background-color: var(--color-white);
    margin: 0 0;
}


.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.contact{
    display: flex;
    justify-content: space-around;
}

.contact__item{
    margin: 0 1rem;

}


.banner{
    background-color: var(--color-beige);
    padding: 1rem 1rem;
}