
:root {
    --color-black: #000000;
    --color-white: rgb(255, 255, 255);
    --color-beige: beige;
}



body{
    background-color: var(--color-white);
}


.navbar{
    display: flex;
    justify-content: space-between;

    padding: 2rem;
}

